@font-face
  font-family: 'Myriad Pro Regular'
  src: url('/../assets/fonts/8143.woff') format('woff'),
       url('/../assets/fonts/8143.otf') format('otf')
//.top_line
//  margin-top 30px
.wrapper
  display: table
  width 100%
  max-width 1120px
  box-sizing border-box
  margin 30px auto 10px
a.logo-img, .logo, .top_contacts, .top_address
  vertical-align top
  display: table-cell
  //display inline-block

a.logo-img
  width: 80px
  padding-right 30px
  padding-top 8px
.logo
  box-sizing border-box
  margin-left 31px
  padding-top 8px
  font-family Myriad Pro Regular, serif
  color #34495e
  font-size 30px
  font-weight 500
  letter-spacing 2px
  line-height 29px
  text-transform uppercase

.logo >.text_logo_color
  line-height 29px
  color #f39c12
  font-weight 500
.logo >.title_logo
  margin-top -5px
  font-family Myriad Pro Regular, serif

.top_contacts
  position relative
  box-sizing border-box
  margin-left 221px
  &:before
    content ''
    position absolute
    display block
    left -32px
    top 10px
    width 20px
    height 20px
    background url("/../assets/images/tel.png")0 0 no-repeat

.cont_block
  box-sizing border-box
  margin-top -3px;
.cont_phone
  color: #2c3e50
  font-size: 24px
  font-weight: 600
  &:hover
    text-decoration none
    color #f39c12
.open_hours
  font-size 0.8rem
  padding-bottom 3px
a.call_back
  text-decoration underline

.top_address
  position relative
  width 270px
  &:before
    content ''
    position absolute
    display block
    left -32px
    top 10px
    width 20px
    height 27px
    background url("/../assets/images/point.png")0 0 no-repeat
.top_index
  padding-right 20px
a.map_link
  text-decoration underline
.top_address >.address
  font-size 18px // перевести в rem
  font-weight 600
a.top_mail_ico
  position relative
  display block
  margin-top 0
  text-decoration underline
  &:before
    content ''
    position absolute
    display block
    left -32px
    top 6px
    width 20px
    height 27px
    background url("/../assets/images/envelop.png")0 0 no-repeat




// nav-bar - navigation panel //

@media screen and (min-width:992px)
  .my-navbar
    height 44px
//.my-container
//  width 1200px
.my-navbar
  font-size 0.8rem
.bg-color
  background-color #34495e
  color #eee
//.navbar-nav
//  width 1040px
a.nav-link.home-link
  background-color #526476
  padding 10px
  width: 45px;
  text-align: center;
  margin-right: 20px;
img.img-link
  vertical-align top
a.nav-link
  text-transform uppercase
  margin-right 15px
i.fa.fa-angle-down
  padding-left 12px
.calc-price
  height 44px
  width 200px
  background-color #1abc9c
  border none
  text-transform uppercase
  font-weight 700
  color #eee
.my-dropdown-menu
  background-color rgba(82, 100, 118, 0.7)
.my-dropdown-item
  color #eee

@media screen and (max-width:992px)
  a.nav-link.home-link
    width 200px
    text-align center
  .my-dropdown-menu
    width 200px
