//.ResponsiveText ($MaxResolution, $DesktopSize, $MobileSize)
//$DesktopMediaSize = ($MaxResolution*1px)
//$MobileMediaSize = ((($MobileSize*16)/(($DesktopSize*16)/($MaxResolution/100)))*100px)
//  font-size: $DesktopSize * 1rem
//
//@media only screen and (max-width: $DesktopMediaSize)
//  font-size: (($DesktopSize * 16)/($MaxResolution/100))*1vw
//
//@media only screen and (max-width: $MobileMediaSize)
//  font-size: $MobileSize*1rem