body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  max-width: 1145px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
@media screen and (max-width: 780px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1155px;
  }
}
@media screen and (min-width: 992px) {
  .my-navbar {
    height: 44px;
  }
}
.my-navbar {
  font-size: 0.8rem;
}
.bg-color {
  background-color: #34495e;
  color: #eee;
}
a.nav-link.home-link {
  background-color: #526476;
  padding: 10px;
  width: 45px;
  text-align: center;
  margin-right: 20px;
}
img.img-link {
  vertical-align: top;
}
a.nav-link {
  text-transform: uppercase;
  margin-right: 15px;
}
i.fa.fa-angle-down {
  padding-left: 12px;
}
.calc-price {
  height: 44px;
  width: 200px;
  background-color: #1abc9c;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #eee;
}
.my-dropdown-menu {
  background-color: rgba(82,100,118,0.7);
}
.my-dropdown-item {
  color: #eee;
}
@media screen and (max-width: 992px) {
  a.nav-link.home-link {
    width: 200px;
    text-align: center;
  }
  .my-dropdown-menu {
    width: 200px;
  }
}
.top_line {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.logo,
.top_contacts,
.top_address {
  flex-direction: row;
  flex-wrap: wrap;
}
.logo {
  display: flex;
  width: 360px;
}
.logo_text {
  box-sizing: border-box;
  margin-left: 31px;
  color: #34495e;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 29px;
  text-transform: uppercase;
}
.logo_text >.text_logo_color {
  line-height: 29px;
  color: #f39c12;
  font-weight: 500;
}
.icon-rotate-180 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.top_contacts {
  box-sizing: border-box;
  margin-left: 200px;
}
.cont_block {
  box-sizing: border-box;
}
.cont_phone {
  color: #2c3e50;
  font-size: 24px;
  font-weight: 600;
}
.cont_phone:hover {
  text-decoration: none;
  color: #f39c12;
}
.open_hours {
  font-size: 0.8rem;
}
.top_address {
  flex-grow: 1000;
  text-align: start;
  margin-left: 20px;
}
.fa.fa-envelope,
i.fa.fa-phone {
  text-decoration: none;
}
